.lgc-bg {
    background-color: #F8F8F8;
}
.ul-des {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    font-size: 15px;
    color:darkslategray
  }
  .headerH6{
    color: gray; 
    font-size: 18px;
    padding: 5px;
  }
  .headerH1{
    color: steelblue; 
    font-size: 28px;
    padding: 5px;
  }
  .divstyle{
    width: 100%; 
    background-color:white;
  }
  .pstyle{
    font-size: 15px;
    color:darkslategray
  }
  .ulcircle{
    display: block;
    list-style-type: circle;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    font-size: 15px;
  }