.c-container {
    margin: 5px 0 20px 0;
    padding: 10px;
}
.nameStyle {
    color: #0176d3;
    font-weight: bold;
}
.timeStyle {
    color: gray;
}

.notificBadge{
    color:white;
    background-color: #0176d3;
}

.a:hover {
    background-color: yellow;
  }

.lgc-bg {
    background-color: #F8F8F8;
}
.lgc-bg1 {
    background-color: white;
}